<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <style>
        #header_row{
            background-image: url('https://media.istockphoto.com/id/1349346348/vector/abstract-background-4k-pink-lilac-lavender-black-white-light-dark-waves-and-lines.jpg?s=612x612&w=0&k=20&c=OkHpH2B7lOb61zHbrsG24LAecoOSj7w7y0QL_wemV8s=');
            background-size: cover;

        }
    #btn1{
    background-color:#871287;
        }
        .card-img-top{
            height:50%;
        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row " id="header_row">
            <div class="col-md-6 col-sm-2 shadow-lg  p-2">
                <h3 class="fw-bold py-3"><span><img src="{% static 'images/learn.png' %}" width="40"></span>ΣｄｕＢｏoｋ</h3>
            </div>
            <div class="col-md-6 shadow-lg  p-2 text-start">

                <a href="{% url 'home1' %}" class="btn py-3 fw-bold fs-5">Home</a>
                <a href="#courses" class="btn py-3 fw-bold fs-5">Courses</a>
                <a href="#contact" class="btn py-3 fw-bold fs-5">Contact Us</a>
                <a href="{% url 'logout' %}" class="btn py-3 fw-bold fs-5"><img width="30" src="https://th.bing.com/th/id/R.af9241a06a7c60b176b4a553947a8cf2?rik=8Utg9dSMKUczrQ&riu=http%3a%2f%2fwolfland.net%2fpower.png&ehk=MftXbLT%2bI0whvum3wmWxci2E1Vl1K%2fGk2IY1BBzhfIE%3d&risl=&pid=ImgRaw&r=0"></a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 ">
                <!--<div class="card ">-->
                    <img class="card-img-top"  src="{% static 'images/check.png' %}" width="20" height="30" alt="Card image cap">
                    <div class="card-body" >
                      <h3 class="card-title text-center">Congratulation</h3>

                        <p class="card-title text-center">Thank You,you have been successfully registered</p>
                        <a class="text-center mx-auto d-block" href="{% url '3days_free' id=id %}" >Continue</a>
                    </div>
               <!-- </div>-->
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>
</html>